<% content_for :head do %>
    <hgroup>
        <h1>Listing job_softwares</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <table>
            <tr>
                <th class="d10">
                    Job ID
                </th>
                <th class="d30">
                    Job
                </th>
                <th class="d10">
                    Software ID
                </th>
                <th class="d30">
                    Software
                </th>
            </tr>

            <% @job_softwares.each do |job_software| %>
                <tr>
                    <td><%= job_software.job_id %></td>
                    <td><%= render :partial => "jobs/link_to_job", :locals => { :job => job_software.job } %></td>
                    <td><%= job_software.software_id %></td>
                    <td><%= render :partial => "softwares/link_to_software", :locals => { :software => job_software.software } %></td>
                </tr>
            <% end %>
        </table>
    </section>
<% end %>