<a href="/users/<%= @user.id %>/cvs/<%= @cv.id %>/disciplines/<%= discipline.id %>" class="organizational-type-title discpline-title" rel="internal" title="See jobs and skills involving this discipline">
    <%= decode(discipline.title) %></a>