<% content_for :head do %>
    <hgroup>
        <h1>
            <%= @discipline.title %>
        </h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <hgroup>
            <h1>Skills</h1>
        </hgroup>
        <%= render :partial => 'skills/small_list', :locals => { :skills => @skills } %>


        <%= link_to 'Edit', edit_discipline_path(@discipline) %> |
        <%= link_to 'Back', disciplines_path %>
    </section>
<% end %>