/*
 * BASE GRID
 * 100% / 10 = 10%
 *             10% = (1.25% + 8.75%)
 *
 * Assume:
 * 960 / 10 = 96
 *            96 = (12 + 84)
 *
 * Assume:
 * 1em = 16px
 * line-height = 24px
 * baseline = 6px
 */

/* LAYOUT MODULES */
body {
    height: auto;
    min-height: 100%;
    width: 100%;
}
    header {
        display: block;
        margin: 0 1.25%;
        overflow: hidden;
        padding-top: 1.25%;
    }
        nav {
            display: block;
        }
        header hgroup {
            float: left;
            width: 57.7%;
        }
    section.primary {
        clear: left;
        float: left;
        margin: 0 1.25%;
        width: 57.5%; /* 4 full columns. 2 columns subtracting gutters */
    }
        section.primary .primary-type-details dt {
            clear: left;
            float: left;
            width: 16.6667%;
        }
        section.primary .primary-type-details dd {
            float: left;
            width: 83.3333%;
        }
    section.secondary {
        clear: right;
        float: right;
        margin: 0 1.25%;
        width: 37.5%; /* 2 full columns. 2 columns subtracting gutters */
    }
    footer {
        display: block;
        margin: 5% 1.25% 0;
    }

/* LISTS */
.highlight-list,
.job-list,
.skill-list,
.software-list,
.year-list {
    list-style-type: none;
}