/*
 * BASE GRID
 * 100% / 10 = 10%
 *             10% = (1.25% + 8.75%)
 *
 * Assume:
 * 960 / 10 = 96
 *            96 = (12 + 84)
 *
 * Assume:
 * 1em = 16px
 * line-height = 24px
 * baseline = 6px
 */

/* LAYOUT MODULES */
body {
    height: auto;
    min-height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
}
    header {
        display: block;
        overflow: hidden;
    }
        header nav,
        header hgroup,
        header p {
            clear: both;
            display: block;
            padding: 0 1.25%;
        }
            .breadcrumbs {
                padding: 0.75em 0;
            }
                .breadcrumbs li {
                    display: inline;
                }
            #pseudoBranding {
                float: right;
                margin-right: 1.25%;
            }
    #main {
        overflow: hidden;
        /* 2em to compensate for the footer, plus 2em of real padding */
        padding-bottom: 4em;
    }
        section.primary {
            border-right: 1px solid #E9E7E0;
            clear: left;
            float: left;
            margin: 0 1.25%;
            overflow: auto;
            width: 57.4%; /* 4 full columns. 2 columns subtracting gutters */
        }
        section.primary.extended {
            border: 0;
            clear: both;
            float: none;
            /* use margin on internal elements. since this is 100%, let's keep division easy */
            margin: 0;
            overflow: auto;
            width: 100%;
        }
            section.primary .primary-type-details dt {
                clear: left;
                float: left;
                width: 16.6667%;
            }
            section.primary .primary-type-details dd {
                float: left;
                /* gives an extra 24px margin (in the hypothetical 960px layout) */
                width: 78.9855%;
            }
        section.secondary {
            clear: right;
            float: right;
            margin: 0 1.25%;
            overflow: auto;
            width: 37.5%; /* 2 full columns. 2 columns subtracting gutters */
        }
        section.secondary.extended {
            clear: both;
            float: none;
            /* use margin on internal elements. since this is 100%, let's keep division easy */
            margin: 0 0 1.125em;
            overflow: auto;
            width: 100%;
        }
            section.extended h1 {
                padding: 0 1.25%;
            }
            section.extended h2 {
                padding: 0 1.25%;
            }
            section.extended p {
                padding: 0 1.25%;
                width: 37.5%;
            }
            section.extended .sub-list-organizational-module {
                float: left;
                margin: 0 1.25%;
                width: 17.5%;
            }
    footer {
        bottom: 0;
        clear: both;
        display: block;
        height: 2em;
        left: 0;
        padding: 0 1.25%;
        position: absolute;
        right: 0;
    }

/* TABLES */
section.primary.extended table {
    width: 100%;
}
    th, td {
        padding-right: 1.25%;
        padding-left: 1.25%;
        text-align: left;
    }
    th.numericData,
    td.numericData {
        text-align: right;
    }
    th.d10,
    td.d10 {
        width: 7.5%;
    }
    th.d20,
    td.d20 {
        width: 17.5%;
    }
    th.d30,
    td.d30 {
        width: 27.5%;
    }
    th.d40,
    td.d40 {
        width: 37.5%;
    }


/* LISTS */
.highlight-list,
.job-list,
.skill-list,
.software-list,
.year-list {
    list-style-type: none;
}
.year-list li {
    display: inline;
}
section.secondary .year-list {
    width: 50%;
}