body {
  height: auto;
  min-height: 100%;
  overflow: auto;
  position: absolute;
  width: 100%; }

header {
  display: block;
  overflow: hidden; }

header nav {
  clear: both;
  display: block; }

#main {
  padding: 0 4.167% 2em; }

section {
  padding-bottom: 1em; }

footer {
  clear: both;
  display: block;
  height: 2em;
  padding: 0 4.167%; }

/* DEFAULT */
.breadcrumbs {
  background-color: #222; }

.breadcrumbs li {
  border-bottom: 1px solid #fff;
  display: block;
  padding: 0 4.167%; }

.breadcrumbs .breadcrumb-separator {
  display: none; }

table tr {
  display: block; }

table th {
  display: none; }

table td {
  display: block; }
