<table>
    <tr>
        <% if !current_user.nil? %>
            <th class="d10 numericData">
                <a href="<%= sorting_href('id',@order_by, @direction) %>" rel="canonical" title="Order by ID">
                    ID
                </a>
            </th>
        <% end %>
        <th class="d40">
            <a href="<%= sorting_href('title',@order_by, @direction) %>" rel="canonical" title="Order by title">
                Title
            </a>
        </th>
    </tr>

    <% @skills.each do |skill| %>
        <tr>
            <% if !current_user.nil? %>
                <td class="numericData"><%= skill.id %></td>
            <% end %>
            <td>
                <%= render :partial => 'link_to_skill', :locals => {:skill => skill} %>
            </td>
        </tr>
    <% end %>
</table>