<% disciplines.each do |discipline| %>
    <% skills_by_discipline = skills.find_all {|sk| sk.discipline_id == discipline.id} %>
    <% if skills_by_discipline.count >= 1 %>
        <div class="discipline-with-skills">
            <h3>
                <%= render :partial => 'disciplines/link_to_discipline', :locals => {:discipline => discipline} %>
            </h3>
            <ol class="primary-type-list skill-list">
                <% skills_by_discipline.each do |skill| %>
                    <li>
                        <%= render :partial => 'skills/link_to_skill', :locals => {:skill => skill} %>
                    </li>
                <% end %>
            </ol>
        </div>
    <% end %>
<% end %>