<% content_for :head do %>
    <h1>Listing skills</h1>
<% end %>

<% content_for :main do %>
    <%= render :partial => 'skills/full_list' %>

    <br />

    <%= link_to 'New Skill', new_skill_path %>
<% end %>