<% content_for :head do %>
    <hgroup>
        <h1>Kyle Jacobson</h1>
        <h2>Web interaction design and development</h2>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>Placeholder</h1>
    </section>

    <% if !@user.nil? %>
        <section class="secondary extended">
            <%= render :partial => "cvs/education" %>
        </section>
    <% end %>
<% end %>