<% content_for :head do %>
    <hgroup>
        <h1>Job_skill <%= @job_skill.id %></h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary details job-skill-details">
        <dl class="primary-type-details job-skill-details">
            <dt>Job:</dt>
            <dd><%= @job_skill.job_id %></dd>

            <dt>Skill:</dt>
            <dd><%= @job_skill.skill_id %></dd>
        </dl>
    </section>
<% end %>