<% content_for :head do %>
	<h1>Editing user_session</h1>
<% end %>

<% content_for :main do %>
	<%= render 'form' %>

	<%= link_to 'Show', @user_session %> |
	<%= link_to 'Back', user_sessions_path %>
<% end %>