<% content_for :head do %>
    <hgroup>
        <h1>Edit a Job/Year Link</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <%= render 'form' %>

        <%= link_to 'Back', job_skills_path %>
    </section>
<% end %>
