<% content_for :head do %>
    <hgroup>
        <h1>Listing Job/Year Links</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <table>
            <tr>
                <th class="d10">
                    Job ID
                </th>
                <th class="d30">
                    Job
                </th>
                <th class="d30">
                    Year
                </th>
            </tr>

            <% @job_years.each do |job_year| %>
                <tr>
                    <td><%= job_year.job_id %></td>
                    <td><%= render :partial => "jobs/link_to_job", :locals => { :job => job_year.job } %></td>
                    <td><%= render :partial => "years/link_to_year", :locals => { :year => job_year.year.value   } %></td>
                </tr>
            <% end %>
        </table>
    </section>
<% end %>