<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Resume</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/typography.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/color.css" media="screen" />
    </head>
    <body>
        <header>
            <nav>
                <%= render :partial => 'home/breadcrumbs' %>
            </nav>
            <p class="notice"><%= flash[:notice] %></p>
            <span id="pseudoBranding">Resum&eacute;trix</span>
            <%= yield :head %>
        </header>
        <div id="main">
            <%= yield :main %>
        </div>
        <footer>
            <p>Copyright Kyle Jacobson, 2011</p>
        </footer>
    </body>
</html>
